[submodule "ergogen/footprints/infused-kim"]
	path = ergogen/footprints/infused-kim
	url = https://github.com/xopclabs/kb_ergogen_fp
[submodule "ergogen/footprints/ceoloide"]
	path = ergogen/footprints/ceoloide
	url = https://github.com/ceoloide/ergogen-footprints.git
